body {
  background-color: #012634;
}

h1 {
  text-align: center;
  color: grey;
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: red;
}

p {
  color: grey;
  text-align: center;
}

.overskrift {
  margin-top: 20px;
}

.sitat {
  font-weight: bold;
  font-size: 70px;
  font-style: italic;
  margin-top: 10px;
}

.forfatter {
  font-style: oblique;
  font-size: 20px;
}

.bilde {
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border-width: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
